In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
import numdifftools as nd
from tqdm import tqdm
from sklearn.linear_model import LinearRegression, RidgeCV

# Linear regression using feature mapping

In [2]:
#we calculate the vector w for all mapps and the join them to one to match the hand in format

In [3]:
#read data
df_train = pd.read_csv('train.csv')
sample = np.loadtxt('sample.csv')
df_train

      Id         y    x1    x2    x3    x4    x5
0      0 -6.822679  0.02  0.05 -0.09 -0.43 -0.08
1      1 -6.326290 -0.13  0.11 -0.08 -0.29 -0.03
2      2 -9.302728  0.08  0.06 -0.07 -0.41 -0.03
3      3 -7.371893  0.02 -0.12  0.01 -0.43 -0.02
4      4 -6.027647 -0.14 -0.12 -0.08 -0.02 -0.08
..   ...       ...   ...   ...   ...   ...   ...
695  695 -6.147394  0.31 -0.09  0.04 -0.09  0.03
696  696 -6.214899 -0.26 -0.01  0.02 -0.40  0.05
697  697 -6.841341 -0.27 -0.22 -0.01 -0.32 -0.05
698  698 -6.523371  0.19  0.11 -0.05 -0.27 -0.04
699  699 -5.676683 -0.09 -0.09 -0.06 -0.41 -0.06

[700 rows x 7 columns]

In [4]:
X = df_train.to_numpy()[:,2:]
y = df_train.to_numpy()[:,1]

In [5]:
X_const = np.ones(X.shape[0]).reshape(-1,1)
X_big = np.concatenate((X,np.square(X),np.exp(X),np.cos(X)),axis = 1)
X_big = np.append(X_big,X_const,axis=1)

In [6]:
clf = RidgeCV(alphas=[1e-3, 1e-2, 1e-1, 1,10,100],fit_intercept = False).fit(X_big, y)
w_sk = clf.coef_
#np.savetxt('weights_vector.csv', w_sk, delimiter=",")

1.9497250832567494

/Users/paul/miniconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:1791: RuntimeWarning: divide by zero encountered in reciprocal
  w = ((singvals_sq + alpha) ** -1) - (alpha ** -1)

0.017958684711961714